#{extends 'main.html' /}
#{set title:'CV fail' /}

#{if flash.success}
<p class="success">${flash.success}</p>
#{/if}

<div class="buttonsContainer">
  <a href="@{FailController.create()}" class="button">Add a new fail</a><br/>
</div>
#{if fails.size()}
#{list items:fails, as:'fail'}
<div class="fail">
  <span class="num">${fail.id}</span>
  <blockquote><p>${fail.message}</p></blockquote>
  <p>${fail.sarcasm}</p>
  <span class="date">${fail.postedAt.format('dd/MM/yy hh:mm')}</span>
</div>
#{/list}
#{/if}

#{else}
<div class="empty">
  There is currently nothing to read here.
</div>
#{/else}

<div class="buttonsContainer">
  <a href="@{FailController.create()}" class="button">Add a new fail</a><br/>
</div>
